//colors
$darkGrey: #303030;
$lightGrey:#E6E7E8;
$orange: #ff7300;
$rose: #ffc18c;
$offWhite: #f4f4f4;
$white:#FFF;
$blackOverlay: rgba(0, 0, 0, 0.7);

//dimentions
$headerHeight-lg:600px;
$headerHeight-md:400px;
$headerHeight-sm:300px;
//-------------
$titleFontSize-lg:30px;
$titleFontSize-md:20px;
$titleFontSize-sm:14px;
//-------------
$margin-md:30px;
$margin-section:100px;
//fonts
$headerFont:'Roboto',
sans-serif;

$handwritingFont:'Patrick Hand',
cursive;

//bootstrap override
$grid-gutter-width: 100px !default;

//imghvr override